 
h1{
    text-align: center;
    margin: 1em;
    padding: 1em
}
.wrapper{
    display: flex;
    flex-direction: column;
        
}
.main{
    margin-top: 3em;    
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        padding:1em;
     
        display: flex;
        flex-direction: column;
        button{
            margin-top:0.5em
        }
        p{
            margin: 0;
        }
       
       
    }
    div img{
        height: 20em;
        width: 18em;
    }
}
.pagination{
    display: flex;
    justify-content: center;
}
.firstDiv{
    border:0.1px solid grey
}
 .star-ratings{
     text-align:center;
        div{
         margin-right: 1em;
     }
 }
 textarea,input{
     outline: none;
 }
  